extends ../layout.pug
block variables
  - var pages = routes
  - var ajax = isAjaxPage

block content
    #new-message.container
        h1 Create new entry
        div.inner-container
            form.pure-form.pure-form-stacked(
                method='POST'
                action='/newmessage'
            )
                fieldset
                    div.pure-control-group
                        label(for='aligned-name') Name
                        input(
                            type='text'
                            id='name'
                            name='useranme'
                            placeholder='Name'
                            autocomplete='off'
                        )
                        span.pure-form-message-inline.hidden This is a required field
                        label(for='aligned-name') Country
                        input(
                            type='text'
                            id='country'
                            name='country'
                            placeholder='Country'
                            autocomplete='off'
                        )
                        span.pure-form-message-inline.hidden This is a required field
                        label(for='aligned-name') Message
                        textarea(
                            type='text'
                            name='message'
                            id='message'
                            placeholder='Type your message'
                            autocomplete='off'
                        )
                        span.pure-form-message-inline.hidden This is a required field
                        div.submit-btn-container
                            #ajax
                                if ajax === true
                                    button.pure-button(
                                        type='submit'
                                    ) Submit
                                else
                                    button.pure-button Submit